.about-logo {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    width: 90%;
}

img {
    display: grid;
    border-radius: 50px;
    justify-self: center;
}

.about-team {
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    padding: 10px 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-style: ridge;
    border-color: #7851A9;
    border-radius: 5px;
}

.title {
    color: grey;
    font-size: 18px;
}

.card-a {
    text-decoration: none;
    padding: 5px;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}