.about-logo {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    width: 90%;
}

img {
    display: grid;
    border-radius: 50px;
    justify-self: center;
}

.about-team {
grid-template-columns: 45% 45%;
justify-content: space-between;
padding: 10px 10px;
}

.member {
    padding: 10px;
    display: grid;
    justify-items: center;
}

.team-member-description {
text-align: left;
}