.cart {
  position: absolute;
  width: 30%;
  max-height: 60vh;
  overflow: scroll;
  padding: 1%;
  border: solid grey 2px;
  z-index: 10;
  right: 15%;
  top: 115%;
  background-color: white;
  /* border-radius: 9px; */
}

.cart h4 {
  text-align: center;
  color: #1A237E;
}

.cart-total {
  float: right;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
}

/* ============================================ CART ITEM ===================================================== */

.cart-item {
  border-bottom: solid #3C415C 1px;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  position: relative;
  /* justify-content: space-between; */
}

.cart-item-thumbnail {
  width: 30%;
}

.cart-item-details {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-item-details p {
  margin: 0;
}

.cart-item-delete {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.cart-item-delete:hover {
  cursor: pointer;
  color: #3C415C;
}


