.cart{
    position:absolute;
    width:20%;
    padding:1%;
    border:solid grey 2px;
    z-index: 10;
    right:10%;
    background-color: #f8f8f8;
}
.cart-total{
    float:right;
    margin-bottom: 0;
    margin-top:0;
    font-weight: bold;
}