.cardCheckmark{
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    text-align: center;
        padding: 40px 0;
        background: #EBF0F5;

}

.checkmark{
    color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
    
}
