.landing-logo {
  border-radius: 50%;
  width: 147px;
  height: 147px;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.landing-action {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 20px;
  width: 90%;
  margin: 0 auto;
}

.artists-graphic {
  width: 97%;
}

.header-branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  
.header-h2 {
  font-family: 'Bellota', cursive;
  color: #800080;
  font-weight: lighter;
  font-size: xx-large;
  margin-bottom: 0;
}
  
.header-h4 {
  font-family: 'Roboto', sans-serif;
  color: #1A237E;
  font-weight: lighter;
  font-size: large;
  margin-top: 4px;
}

.div {
  margin: 0 auto;
  border-bottom: solid 1px #3278B2;
  width: 90%;
}

.join-btn {
  background: linear-gradient(to bottom, #9CD393, #388E3C);
  color: white;
  width: 90px;
  border-color: #28652b;
  border-radius: 4px;
  font-family: 'Lato';
}

.slider-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 19px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.categoryImg {
  position: relative;
  /* width: 190px; */
  width: 100%;
  max-width: 190px;
  object-fit: cover;
  height: 80px;
  transition: transform 0.2s ease-in-out;
  filter: brightness(0.7) blur(0.9px);
}

.imgDiv {
  position: relative;
  text-align: center;
  flex: 1;
}

.arrow {
  border: none;
  background-color: #f8f8f8;
  color: #1A237E;
}

.img-name {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 2;
}

.top-categories-h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #800080;
}

.top-category-p {
  margin-left: 7%;
  color: #1A237E;
  font-family: 'Lato', sans-serif;
}

.top-category-div {
  
}

