.home-logo {
  border-radius: 50%;
  width: 147px;
  height: 147px;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
}

.landing-action {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* gap: 40px; */
  margin-top: 20px;
}

.artists-graphic {
  width: 97%;
}

.header-branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  
  .header-h2 {
    font-family: 'Bellota', cursive;
    color: #800080;
    font-weight: lighter;
    font-size: xx-large;
    margin-bottom: 0;
  }
  
  .header-h4 {
    font-family: 'Roboto', sans-serif;
    color: #1A237E;
    font-weight: lighter;
    font-size: large;
    margin-top: 4px;
  }
  
  header {
    border-bottom: solid 1px #3278B2;
  }

  .join-btn {
    background: linear-gradient(to bottom, #9CD393, #388E3C);
    color: white;
    width: 90px;
    border-color: #28652b;
    border-radius: 4px;
    font-family: 'Lato';
  }

  /* .branding-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */

  /* .branding-text {
  border-top: solid 1px #D1C4E9;
  border-bottom: solid 1px #D1C4E9;
  border-left: solid 1px #D1C4E9;
  border-right: solid 1px #D1C4E9;
  border-radius: 4px;
  background: linear-gradient(to bottom, #f8f8f8, blue);
  } */