main {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

main h1 {
  font-family: 'Bellota';
  color: #800080;
  font-size: 22px;
}

main h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: #3c415c;
  font-weight: 400;
}

.content-sect {
  position: relative;
  border: solid 5px #7851a9;
  padding: 5%;
  background-color: white;
}
.post-title {
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.post-body {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
}
.img-slider-container {
  /* border:solid #800080 1px;
    padding:1%; */
  width: 20%;
  /* max-height: 40vh; */
  /* overflow: scroll; */
}

.add-svg {
  width: 100%;
}
.caption {
  margin-top: 0;
}
.post-buttons {
  position: absolute;
  bottom:5%;
  right:5%;
  width: fit-content;
}
.post-buttons button {
  margin: 0 5px;
  color: white;
  border-radius: 7px;
  height: 27px;
  border: none;
  cursor: pointer;
  text-align: center;
  padding-left: 9px;
  padding-right: 9px;
}

.logo {
  border-radius: 50%;
  width: 79px;
  margin: 7px;
}

.x {
  float: inline-end;
}

.preview-post-btn {
  margin-top: auto;
  width: 77px;
  margin-left: 620px;
  justify-content: flex-end;
  font-family:  'Open Sans', sans-serif;
  cursor: pointer;
}

.preview-modal {
  /* align-items: center;
  align-content: center;
  align-tracks: center;
  justify-content: center;
  justify-items: center;
  justify-tracks: center; */
  /* display: flex;
  flex-direction: column; */
  height: 100%;
}


