.created-by {
    margin: 0;
    font-size: x-small;
    color: #1A237E;
}

.created-on {
    font-size: xx-small;
    margin: 0;
}

.post-category {
    display: flex;
    margin: 0;
    font-size: xx-small;
    color: #1A237E;
}

.card-content-info {
    height: 7px;
}