.post {
    text-align: center;
}

button {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

.post h3 {
    font-family: 'Roboto', sans-serif;
    color: #800080;
    font-size: larger;
}

.back-img {
    width: 19px;
    height: 19px;
}

.back-img:hover {
    width: 24px;
    height: 24px;
}

.back-btn-container {
    width: 100%;
    text-align: left;
}




