.post {
    text-align: center;
}

button {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

.post h3 {
    font-family: 'Roboto', sans-serif;
    color: #800080;
    font-size: larger;
}

.back-img {
    width: 19px;
    height: 19px;
}

.back-img:hover {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.back-btn-container {
    width: 100%;
    text-align: left;
}
.post-info{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.post-details{
    grid-column-start: 1;

}
.post-images{
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
}

.post-img{
    width:50%;
    margin:5%;
    height:auto;
    border:solid 1px grey;
    padding:10px;
}

