.profile-card{
    display:grid;
    grid-template-columns: 1fr 4fr;

}
.profile-img{
    grid-column-start: 1;
}
.profile-desc{
    grid-column-start: 2;
    text-align: center;
    width:80%;
    margin-left:10%;
}
.profile-desc-edit{
    grid-column-start: 2;
    text-align: center;
    width:90%;
    margin-left:10%;
    display: flex;
    flex-direction: column;

}