.profile-card {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.profile-img {
  grid-column-start: 1;
}
.profile-desc {
  grid-column-start: 2;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
.profile-desc-edit {
  grid-column-start: 2;
  text-align: center;
  width: 90%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}
.users-posts-and-tools {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: space-evenly;
}
.profile-subtitle{
  margin-top: 0;
  text-decoration: underline;
}
.profile-posts {
  width: 50%;
  margin-right: 2.5%;
  position: relative;
}
.profile-tools {
  width: 50%;
  margin-left: 2.5%;
  position: relative;
}
.profile-posts-list{
  position: relative;
  overflow: scroll;
  z-index:1;
  margin:0;
  padding:0;
  padding-bottom: 10px;
  width: 100%;
}
.profile-tools-list{
  position: relative;
  overflow: scroll;
  z-index:1;
  margin:0;
  padding:0;
  padding-bottom: 10px;
  width: 100%;
}
.aside-spacing{
  margin-right:10px;
  margin-bottom: 10px;
}
.scroll{
  overflow: hidden;
  /* white-space: nowrap; */
  margin: 0;
  font-size: 0;
  min-width:fit-content;
  display: flex;
  /* width:140%; */
  justify-content: space-evenly;

}

.button {
  background-color: rgb(43, 58, 226);
  width: 50px;
  height:25px;
  padding-top: 12px;
  color: aliceblue;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.edit-btn {
  border: none;
  background-color: transparent;
  color: #1a237e;
}