.home-page {
  font-family: 'Lato';
  margin-left: auto;
  margin-right: auto;
}
.div {
  margin: 0 auto;
  border-bottom: solid 1px #3278b2;
  width: 90%;
}

.header-h2 {
  font-size: x-large;
}

.assesment-p {
  font-family: 'Open Sans';
  color: #3c415c;
}

.arrow {
  border: none;
  background-color: #f8f8f8;
  color: #1a237e;
}

.user-connect-p {
  color: #800080;
  font-family: 'Lato';
  text-align: center;
}

.take-assesment-btn {
  background: linear-gradient(to bottom, #9cd393, #388e3c);
  color: white;
  border-radius: 7px;
  height: 34px;
  width: 107px;
  border-style: none;
  font-family: 'Open Sans';
}

.take-assesment-btn:hover {
  color: white;
  border-style: none;
}

.post-ctas {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  bottom: 142px;
}

.post-cta {
  width: 40%;
}

.post-cta-sect {
  text-align: center;
  margin-bottom: 0;
}

.post-cta-sect h4 {
  font-family: 'Montserrat', sans-serif;
  color: #1a237e;
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 0;
}

.post-cta-p {
  font-family:  'Open Sans', sans-serif;
  color: #3C415C;
  margin-top: 0;  
}

.cta-btn {
  background: linear-gradient(to bottom, #9cd393, #388e3c);
  color: white;
  border-radius: 7px;
  height: 34px;
  width: 111px;
  border-style: none;
  font-family:  'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 500;
  align-self: center;
  cursor: pointer;
}

.cta-btn:hover {
  background: linear-gradient(to bottom, #3278b2, #1a237e);
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: #f8f8f8;
  font-size: larger;
}

.artistsGraphic {
  width: 90%;
  position: relative;
  object-fit: cover;
  z-index: 2;
  margin: 0;
}

.overlay-card {
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.content-container {
  margin: 0 auto;
}

.upperLeft-txtSect {
  display: flex;
  gap: 17px;
}

.text-placeholder {
  border-bottom: 1px solid #1a237e;
  border-top: none;
  border-left: none;
  border-right: none;
}

.text-placeholder::placeholder {
  font-family: 'Lato';
  font-size: 14px;
  color: #3c415c;
}

.bottomLeft-txtSect {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 7px;
  display: flex;
  gap: 17px;
  margin-bottom: 7px;
}

.bottomRight-actionBtns {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 7px;
  margin-right: 7px;
}

.bottomRight-actionBtns button {
  color: white;
  border-radius: 7px;
  height: 24px;
  border: none;
  font-family: 'Lato';
  font-size: 14px;
  width: 61px;
  margin-bottom: 7px;
}

.preview-btn {
  background-color: #1a237e;
}

.post-btn {
  background-color: #388e3c;
}

:focus-visible {
  outline-style: none;
}

.paper {
  background-color: #1a237e;
  z-index: 1;
  margin: 0;
}

.home-header {
  text-align: center;
}

.assesement-sect {
  text-align: center;
}

.selected-posts {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.post-cta-sect h3, .selected-cat-sect h3 {
  font-family: 'Bellota', cursive;
  text-align: center;
  color: #800080;
  font-size: 17px;
}

.home-h4 h4, .post-cta-sect h4, .post-cta h4 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.curations-h4 {
  font-family: 'Bellota', cursive;
  font-size: 24px;
  color: #800080;
  text-align: center;
}

.view-tab {
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  border-bottom: 2px solid #388e3c;
  width: 50px;
}

.selected {
  background-color: #388e3c;
  border-radius: 4px;
  color: white;
}

.curated-posts-sect aside button {
  text-align: center;
  font-size: 12px;
}

.curated-posts-sect aside {
  display: flex;
  flex-direction: row-reverse;
}



