.tool-form {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  border: solid 2px #7851a9;
}

.price-condition-stock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
}
.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: 50%;
  margin-bottom: 5%;
}
.img {
  height: 100%;
  width: 100%;
}
.image-box {
  height: 8vw;
  width: 8vw;
  border: dotted grey 1px;
  overflow: hidden;
  margin-right: 15px;
}
.form-buttons {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  flex-direction: row;
}
.title-new-tool{
  font-family: 'Bellota';
  color: #800080;
  font-size: 22px;
  margin-left:10%;
  margin-top: 4%;
}

.top-text {
  text-align: center;
}

.top-text p {
  font-family: 'Open Sans', sans-serif;
}

.cancel-btn {
  background-color: #3C415C;
  width: 57px;
  margin-left: 620px;
  justify-content: flex-end;
  font-family:  'Open Sans', sans-serif;
  cursor: pointer;
  color: white;
  height: 17px;
  border-radius: 7px;
  font-size: 17px;
}

.submit-btn {
  /* margin-top: auto; */
  width: 57px;
  margin-left: 620px;
  justify-content: flex-end;
  font-family:  'Open Sans', sans-serif;
  cursor: pointer;
  background: linear-gradient(to bottom, #9cd393, #388e3c);
  color: white;
  height: 17px;
  border-radius: 7px;
}