.search-sect {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 0;
}

/* .top-left {
  display: flex;
  align-items: center;
  gap: 17px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.search-icon {
  position: absolute;
  margin-left: 5px;
  margin-top: 4px;
}

.search-btn {
  border: none;
  background-color: transparent;
  padding: 8px;
  position: absolute;
}

/*  */
/* .nav-logo:hover {
  opacity: 1;
  cursor: pointer;
}

.about-link {
  text-decoration: none;
  color: #800080;
}

.nav-right-container {
  display: flex;
  align-items: flex-end;
  float: right;
  gap: 17px;
}

.auth-btns {
  gap: 1px;
}

.logout-btn:hover {
  cursor: pointer;
  color: green;
}

.login-btn:hover {
  cursor: pointer;
}

.signup-btn {
  cursor: pointer;
}

.search-input::placeholder {
  font: 'Roboto';
}

::-webkit-input-placeholder {
  text-align: left;
  padding-left: 34px;
}

.top-left,
.nav-right-container {
  align-items: center;
}

.logout-btn {
  background-color: #800080;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
}

.logout-btn :hover {
  background-color: #14cc8c;
}

.nav-logo:hover {
  max-width: 0px;
  max-height: 0px;
  opacity: 70%;
}

.nav-logo2:hover {
  max-width: 100px;
  max-height: 100px;
  opacity: 100%;
}

.title {
  font-family: 'Bellota';
  font-size: xxx-large;
  color: #7851a9;
  margin-bottom: 5px;
  margin-top: 5px;
  text-decoration: u;
}

.search-sect {
  display: flex;
  align-items: center;
  position: relative;
} */ 
