nav {
  border-bottom: solid 2px #1A237E;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-left: 5%;
  padding-right: 5%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-sect {
  display: flex;
  align-items: center;
  width: 400px;
  position: relative;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.cart-auth-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.nav-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #1A237E;
}

.about-link {
  text-decoration: none;
  color: #1A237E;
  margin-right: 7px;
}

.about-link:hover {
  color: #388e3c;
}

.nav-left > * {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.categories-nav-btn {
  border: none;
  background: transparent;
}

.nav-categories-btn-text {
  color: #1A237E;
}

.nav-categories-btn-text:hover {
  color: #388e3c;
}

.share-btn-text {
  color: #1A237E;
}

.share-btn-text:hover {
  color: #388e3c;
}

.share-nav-btn {
  border: none;
  background: transparent;
}

.aside-cart {
  height: 100%;
  width: fit-content;
  margin-right: 9px;
}

.shopping-cart {
  align-items: center;
  margin: 0;
}

.login-btn:hover {
  cursor: pointer;
}

.auth-btns {
  gap: 1px;
}

.search-input::placeholder {
  font: 'Roboto';
}

::-webkit-input-placeholder {
  text-align: left;
  padding-left: 34px;
}

.nav-logo:hover {
  max-width: 0px;
  max-height: 0px;
  opacity: 70%;
}

.nav-logo2:hover {
  max-width: 100px;
  max-height: 100px;
  opacity: 100%;
}

.title {
  font-family: 'Bellota';
  font-size: xxx-large;
  color: #7851a9;
  margin-bottom: 5px;
  margin-top: 5px;
  text-decoration: u;
}

.search-results{
  position: absolute;
  top:100%;
  background-color: #f8f8f8;
  border-left:solid #1A237E 1px;
  border-right:solid #1A237E 1px;
  border-bottom:solid #1A237E 1px;
  z-index:11;
  text-align: center;
  margin-top: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.result-item{
  border-bottom: solid 1px lightgray;
  /* padding:5px; */
  white-space: nowrap;
}
.result-item:hover{
  cursor: pointer;
  background-color: #1A237E;
  color:white; 
}
 
.result-item p{
  margin:4px;
} 

.search-display-box {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  /* background-color: white; */
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  visibility: hidden;
}

.search-display-box.show {
  visibility: visible;
}

.signup-btn {
  cursor: pointer;
  border-radius: 7px;
}

.login-btn {
  border-radius: 7px;
}



