.footer {
    /* position: sticky; */
    /* bottom: 0; */
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.footer p {
    color: #3C415C;
}
