.explore-h2 {
  font-family: 'Bellota', cursive;
  color: #800080;
  font-size: xx-large;
}

.explore-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 19px;
  justify-content: center;
  align-content: center;
}
