/* * {
    align-items: center;
} */

.explore-h2 {
    font-family: 'Bellota', cursive;
    color: #800080;
    /* font-weight: lighter; */
    font-size: xx-large;
}

.explore-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 19px;
    justify-content: center;
    align-content: center;
}

/* .explore-main {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

/* .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */