.x-btn {
  float: inline-end;
  border: none;
  background-color: #f8f8f8;
  font-size: large;
  cursor: pointer;
}

.questions-sect {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}

.btns {
  display: flex;
  gap: 17px;
  float: inline-end;
  height: 22px;
  margin-top: 17px;
}

.done-btn {
  background: linear-gradient(to bottom, #9cd393, #388e3c);
  color: white;
  border-radius: 4px;
  font-family: 'Lato';
  letter-spacing: 0.5px;
  border-style: none;
  cursor: pointer;
}

.later-btn {
  background: linear-gradient(to bottom, #7ca0e7, #1a237e);
  color: white;
  border-radius: 4px;
  font-family: 'Lato';
  border-style: none;
  cursor: pointer;
}

