.x-btn {
  float: inline-end;
  border: none;
  background-color: #f8f8f8;
  font-size: larger;
  cursor: pointer;
}

.questions-sect {
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  gap: 7px;
  font-family: 'Open Sans', sans-serif;
}

.btns {
  display: flex;
  gap: 17px;
  float: inline-end;
  height: 22px;
  margin-top: 17px;
}

.done-btn {
  background: linear-gradient(to bottom, #9cd393, #388e3c);
  color: white;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
  border-style: none;
  cursor: pointer;
  width: 47px;
}

.later-btn {
  background: linear-gradient(to bottom, #7ca0e7, #1a237e);
  color: white;
  border-radius: 4px;
  font-family: 'Lato';
  border-style: none;
  cursor: pointer;
  width: 87px;
  font-family: 'Open Sans', sans-serif;
}

