.auth {
  display: flex;
  justify-content: flex-end;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  margin-top: 2px;
}

.login-btn,
.signup-btn {
  background: linear-gradient(to bottom, #8e338e, #7851a9);
  background-color: #800080d5;
  border: none;

  color: white;
  font-weight: bold;
  width: 94px;
  height: 100%;
  font-family: 'Open Sans';
  padding-top: 5px;
  padding-bottom: 5px;
}
.login-btn:hover,
.signup-btn:hover {
  background: linear-gradient(to bottom, #9cd393, #388e3c);
  color: white;
  width: 94px;
  height: 100%;
  border-color: #7ca0e7;
  font-family: 'Open Sans';
  padding-top: 5px;
  padding-bottom: 5px;
}

.logout-btn {
  background-color: #800080d5;
  color: white;
  width: 94px;
  border-color: #7ca0e7;
  border-radius: 4px;
  font-family: 'Open Sans';
  border-style: none;
}

.logout-btn:hover {
  background-color: #0b0080de;
  color: white;
  width: 94px;
  border-color: #7ca0e7;
  border-radius: 4px;
  font-family: 'Open Sans';
  border-style: none;
  cursor: pointer;
}

form button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  border: none;
  background-color: transparent;
  font-size: larger;
}

.modal-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.modal-nav-btn {
  border: none;
  width: 50%;
  font-size: medium;
  background-color: #f8f8f8;
}

.modal-nav-btn:hover {
  cursor: pointer;
  background-color: #1a237e;
  color: white;
  border-radius: 4px;
}

.selected {
  background-color: #f8f8f8;
  border-bottom: solid 1px #3278b2;
}

.auth-btns {
  display: flex;
  flex-direction: row;
}

.signup-branding {
  display: flex;
  flex-flow: column;
}

.signup-branding h3,
.login-branding h3 {
  font-family: 'Lato';
  display: flex;
  color: #800080;
  font-weight: 400;
  margin-bottom: 7px;
}

.signup-branding p {
  font-family: 'Open Sans';
  margin-top: 0;
  color: #1a237e;
}

.signup-sect,
.login-sect {
  margin-top: 9px;
}
